* 지하철 이용현황 공공데이터 분석 프로젝트

In [1]:
import pandas as pd

In [2]:
# 파일 불러오기
# 일자/노선/지하철역별 승하차고객수. 19년 상반기(19년 1월 ~ 19년 6월)
# 작업할 여러 개의 파일 중 하나의 파일 불러오기

path = './데이터분석/인강/6. 러닝스푼즈_포트폴리오/파이썬 기초 강의자료/PJT2)Subway_Analysis/rawfiles/CARD_SUBWAY_MONTH_201901.csv'
raw = pd.read_csv(path)     # 오류발생시 encoding = 'cp949' 추가
raw

           사용일자  노선명   역ID    역명  승차총승객수  하차총승객수      등록일자
0      20190101  경춘선  1323    가평    1520    1436  20190104
1      20190101  경춘선  1322    상천     275     114  20190104
2      20190101  경춘선  1321    청평    1509    1083  20190104
3      20190101  경춘선  1320   대성리     357     271  20190104
4      20190101  경춘선  1319    마석    1772    1963  20190104
...         ...  ...   ...   ...     ...     ...       ...
18329  20190131  1호선   155   동대문   14563   15139  20190203
18330  20190131  1호선   154  종로5가   30249   29703  20190203
18331  20190131  1호선   153  종로3가   36804   35050  20190203
18332  20190131  1호선   152    종각   51970   50080  20190203
18333  20190131  1호선   151    시청   29059   29169  20190203

[18334 rows x 7 columns]

In [3]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18334 entries, 0 to 18333
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   사용일자    18334 non-null  int64
 1   노선명     18334 non-null  object
 2   역ID     18334 non-null  int64
 3   역명      18334 non-null  object
 4   승차총승객수  18334 non-null  int64
 5   하차총승객수  18334 non-null  int64
 6   등록일자    18334 non-null  int64
dtypes: int64(5), object(2)
memory usage: 1002.8+ KB

#### 데이터 파일 읽기: read_excel / read_csv
* pd.read_excel('파일경로+파일명.xlsx')
* pd.read_csv('파일경로+파일명.csv', encoding = 'utf-8')
* pd.read_csv('파일경로+파일명.csv', encoding = 'cp949')     # ms엑셀에서 저장한 경우

#### 자주 사용하는 옵션
* pd.read_excel('파일경로', 옵션1 = 값1, 옵션2 = 값2...)
* 옵션 종류
    * index_col = 컬럼인덱스번호 # 몇 번째 칼럼을 인덱스로 지정할 것인지 선택
    * header = row인덱스번호 # 몇번째 row부터 표 데이터로 볼 것인지 선택
    * thousands = ',' # 천 단위 기호 , 사용되어 있을 시 사용. 엑셀에서 통화로 xxx,xxx 이렇게 표현되어 있을 땐 object로 인식됨. 이때 이 옵션을 쓰면 숫자로 인식됨