* 지하철 이용현황 공공데이터 분석 프로젝트

In [1]:
import pandas as pd

In [2]:
# 파일 불러오기
# 일자/노선/지하철역별 승하차고객수. 19년 상반기(19년 1월 ~ 19년 6월)
# 작업할 여러 개의 파일 중 하나의 파일 불러오기

path = './데이터분석/인강/6. 러닝스푼즈_포트폴리오/파이썬 기초 강의자료/PJT2)Subway_Analysis/rawfiles/CARD_SUBWAY_MONTH_201901.csv'
raw = pd.read_csv(path)     # 오류발생시 encoding = 'cp949' 추가
raw

           사용일자  노선명   역ID    역명  승차총승객수  하차총승객수      등록일자
0      20190101  경춘선  1323    가평    1520    1436  20190104
1      20190101  경춘선  1322    상천     275     114  20190104
2      20190101  경춘선  1321    청평    1509    1083  20190104
3      20190101  경춘선  1320   대성리     357     271  20190104
4      20190101  경춘선  1319    마석    1772    1963  20190104
...         ...  ...   ...   ...     ...     ...       ...
18329  20190131  1호선   155   동대문   14563   15139  20190203
18330  20190131  1호선   154  종로5가   30249   29703  20190203
18331  20190131  1호선   153  종로3가   36804   35050  20190203
18332  20190131  1호선   152    종각   51970   50080  20190203
18333  20190131  1호선   151    시청   29059   29169  20190203

[18334 rows x 7 columns]

In [3]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18334 entries, 0 to 18333
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   사용일자    18334 non-null  int64
 1   노선명     18334 non-null  object
 2   역ID     18334 non-null  int64
 3   역명      18334 non-null  object
 4   승차총승객수  18334 non-null  int64
 5   하차총승객수  18334 non-null  int64
 6   등록일자    18334 non-null  int64
dtypes: int64(5), object(2)
memory usage: 1002.8+ KB

#### 데이터 파일 읽기: read_excel / read_csv
* pd.read_excel('파일경로+파일명.xlsx')
* pd.read_csv('파일경로+파일명.csv', encoding = 'utf-8')
* pd.read_csv('파일경로+파일명.csv', encoding = 'cp949')     # ms엑셀에서 저장한 경우

#### 자주 사용하는 옵션
* pd.read_excel('파일경로', 옵션1 = 값1, 옵션2 = 값2...)
* 옵션 종류
    * index_col = 컬럼인덱스번호 # 몇 번째 칼럼을 인덱스로 지정할 것인지 선택
    * header = row인덱스번호 # 몇번째 row부터 표 데이터로 볼 것인지 선택
    * thousands = ',' # 천 단위 기호 , 사용되어 있을 시 사용. 엑셀에서 통화로 xxx,xxx 이렇게 표현되어 있을 땐 object로 인식됨. 이때 이 옵션을 쓰면 숫자로 인식됨

In [4]:
# 파일 2개 불러와서 합치기

raw = pd.DataFrame()     # 빈 데이터 셋 만들기

# 첫 번째 파일

path = './데이터분석/인강/6. 러닝스푼즈_포트폴리오/파이썬 기초 강의자료/PJT2)Subway_Analysis/rawfiles/CARD_SUBWAY_MONTH_201901.csv'
temp = pd.read_csv(path)
raw = raw.append(temp)     # 추가하기
# raw.head()

# 두 번째 파일

path = './데이터분석/인강/6. 러닝스푼즈_포트폴리오/파이썬 기초 강의자료/PJT2)Subway_Analysis/rawfiles/CARD_SUBWAY_MONTH_201902.csv'
temp = pd.read_csv(path)
raw = raw.append(temp)     # 추가하기
# raw.head()
raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34877 entries, 0 to 16542
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   사용일자    34877 non-null  int64
 1   노선명     34877 non-null  object
 2   역ID     34877 non-null  int64
 3   역명      34877 non-null  object
 4   승차총승객수  34877 non-null  int64
 5   하차총승객수  34877 non-null  int64
 6   등록일자    34877 non-null  int64
dtypes: int64(5), object(2)
memory usage: 2.1+ MB

#### 폴더에 있는 모든 파일을 불러와서 병합하기

In [5]:
# 폴더/파일을 관리하는 os라이브러리

import os

In [6]:
# os.listdir()을 이용해 rawfiles 폴더에 있는 파일 리스트 보기

dirpath = './데이터분석/인강/6. 러닝스푼즈_포트폴리오/파이썬 기초 강의자료/PJT2)Subway_Analysis/rawfiles'
files = os.listdir(dirpath)
files

['CARD_SUBWAY_MONTH_201901.csv',
 'CARD_SUBWAY_MONTH_201902.csv',
 'CARD_SUBWAY_MONTH_201903.csv',
 'CARD_SUBWAY_MONTH_201904.csv',
 'CARD_SUBWAY_MONTH_201905.csv',
 'CARD_SUBWAY_MONTH_201906.csv']

In [7]:
# 여러개의 파일 병합

# 빈 데이터프레임 준비

raw = pd.DataFrame()

# 파일 하나씩 불러들여 합치기

for file in os.listdir('./데이터분석/인강/6. 러닝스푼즈_포트폴리오/파이썬 기초 강의자료/PJT2)Subway_Analysis/rawfiles'):
    # print(file)
    fpath = './데이터분석/인강/6. 러닝스푼즈_포트폴리오/파이썬 기초 강의자료/PJT2)Subway_Analysis/rawfiles/' + file
    # print(fpath)
    temp = pd.read_csv(fpath)
    raw = raw.append(temp, ignore_index = True)     # ignore_index = True는 기존 인덱스 무시

In [8]:
raw.head()

       사용일자  노선명   역ID   역명  승차총승객수  하차총승객수      등록일자
0  20190101  경춘선  1323   가평    1520    1436  20190104
1  20190101  경춘선  1322   상천     275     114  20190104
2  20190101  경춘선  1321   청평    1509    1083  20190104
3  20190101  경춘선  1320  대성리     357     271  20190104
4  20190101  경춘선  1319   마석    1772    1963  20190104

In [9]:
raw.tail()

           사용일자  노선명  역ID     역명  승차총승객수  하차총승객수      등록일자
99337  20190630  2호선  204  을지로4가    4940    4668  20190703
99338  20190630  2호선  203  을지로3가   12043   11854  20190703
99339  20190630  2호선  202  을지로입구   31622   29723  20190703
99340  20190630  2호선  201     시청   10178    8214  20190703
99341  20190630  1호선  159    동묘앞   13859   14352  20190703

In [10]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99342 entries, 0 to 99341
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   사용일자    99342 non-null  int64
 1   노선명     99342 non-null  object
 2   역ID     99342 non-null  int64
 3   역명      99342 non-null  object
 4   승차총승객수  99342 non-null  int64
 5   하차총승객수  99342 non-null  int64
 6   등록일자    99342 non-null  int64
dtypes: int64(5), object(2)
memory usage: 5.3+ MB

In [11]:
raw.describe()

               사용일자           역ID         승차총승객수         하차총승객수          등록일자
count  9.934200e+04  99342.000000   99342.000000   99342.000000  9.934200e+04
mean   2.019037e+07   1882.914759   12548.696392   12497.450605  2.019038e+07
std    1.766476e+02   1179.037450   13054.465868   13275.053056  1.783979e+02
min    2.019010e+07    150.000000       1.000000       0.000000  2.019010e+07
25%    2.019021e+07   1030.000000    4129.000000    3943.000000  2.019022e+07
50%    2.019040e+07   1812.000000    8772.000000    8493.500000  2.019041e+07
75%    2.019052e+07   2634.000000   16421.000000   16369.000000  2.019052e+07
max    2.019063e+07   4713.000000  132727.000000  139617.000000  2.019070e+07

#### 요일 추가

In [12]:
# 일시를 관리하는 datetime 라이브러리

from datetime import datetime

* datetime.strptime('날짜str', str형태): 문자 -> 날짜 타입
    - str형태 %Y-%m-%d %H:%M:%S
    - %Y : 연도(4자리)
    - %m : 월(2자리)
    - %d : 일자(2자리)
    - %H : 시간
    - %M : 분
    - %S : 초

In [13]:
# str타입을 날짜 타입으로 변경: datetime.strptime()

date_str = str(20210811)     # 숫자가 아닌 문자로 입력해야 함
date = datetime.strptime(date_str, '%Y%m%d')
date

datetime.datetime(2021, 8, 11, 0, 0)

In [14]:
# 날짜 타입을 요일로 변경: weekday()
# 월요일 = 0 ~ 일요일 = 6

weekday = date.weekday()
weekday

2

* 2는 수요일

In [15]:
# 날짜 칼럼을 불러와서 순서대로 요일을 확인하고 리스트에 저장

weekday_dict = ['월', '화', '수', '목', '금', '토', '일']
weekday_list = []

for date_str in raw['사용일자']:
    date = datetime.strptime(str(date_str), '%Y%m%d')
    weekday_index = date.weekday()
    weekday = weekday_dict[weekday_index]
    weekday_list .append(weekday)

In [16]:
# 요일 칼럼 추가

raw['요일'] = weekday_list
raw.head()

       사용일자  노선명   역ID   역명  승차총승객수  하차총승객수      등록일자 요일
0  20190101  경춘선  1323   가평    1520    1436  20190104  화
1  20190101  경춘선  1322   상천     275     114  20190104  화
2  20190101  경춘선  1321   청평    1509    1083  20190104  화
3  20190101  경춘선  1320  대성리     357     271  20190104  화
4  20190101  경춘선  1319   마석    1772    1963  20190104  화

In [17]:
raw.sample(10)     # 랜덤으로 샘플 10개 보여줌

           사용일자  노선명   역ID           역명  승차총승객수  하차총승객수      등록일자 요일
29187  20190219  경원선  1011           옥수      51      43  20190222  화
47877  20190401  중앙선  1203           망우    8774    8656  20190404  월
54278  20190412  2호선   203        을지로3가   28366   28718  20190415  금
64983  20190502  7호선  2731           청담   24461   28107  20190505  목
66616  20190505  6호선  2636           신당    5850    6128  20190508  일
75344  20190520  경원선  1916          소요산    3741    2928  20190523  월
90378  20190615  5호선  2511           방화    6303    5686  20190618  토
53562  20190411  2호선   232      구로디지털단지   75856   76017  20190414  목
19844  20190203  경원선  1008  이촌(국립중앙박물관)    2600    1930  20190206  일
62418  20190428  경춘선  1312           갈매    1563    1367  20190501  일

In [18]:
# 현재 칼럼명 확인

raw.columns

Index(['사용일자', '노선명', '역ID', '역명', '승차총승객수', '하차총승객수', '등록일자', '요일'], dtype='object')

In [19]:
# 요일을 사용일자 다음에 나오도록 칼럼 순서 변경

new_columns = ['사용일자', '요일', '노선명', '역ID', '역명', '승차총승객수', '하차총승객수', '등록일자']
raw = raw[new_columns]
raw.head()

       사용일자 요일  노선명   역ID   역명  승차총승객수  하차총승객수      등록일자
0  20190101  화  경춘선  1323   가평    1520    1436  20190104
1  20190101  화  경춘선  1322   상천     275     114  20190104
2  20190101  화  경춘선  1321   청평    1509    1083  20190104
3  20190101  화  경춘선  1320  대성리     357     271  20190104
4  20190101  화  경춘선  1319   마석    1772    1963  20190104

#### 정리한 데이터 저장

In [20]:
raw.to_excel('./subway_raw.xlsx', index = False)

# Q. 언제 지하철을 가장 많이 이용할까?

In [21]:
# 위에서 정리한 데이터 저장한 것 불러오기

raw = pd.read_excel('./subway_raw.xlsx')
raw.head()

       사용일자 요일  노선명   역ID   역명  승차총승객수  하차총승객수      등록일자
0  20190101  화  경춘선  1323   가평    1520    1436  20190104
1  20190101  화  경춘선  1322   상천     275     114  20190104
2  20190101  화  경춘선  1321   청평    1509    1083  20190104
3  20190101  화  경춘선  1320  대성리     357     271  20190104
4  20190101  화  경춘선  1319   마석    1772    1963  20190104

In [22]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99342 entries, 0 to 99341
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   사용일자    99342 non-null  int64
 1   요일      99342 non-null  object
 2   노선명     99342 non-null  object
 3   역ID     99342 non-null  int64
 4   역명      99342 non-null  object
 5   승차총승객수  99342 non-null  int64
 6   하차총승객수  99342 non-null  int64
 7   등록일자    99342 non-null  int64
dtypes: int64(5), object(3)
memory usage: 6.1+ MB

## Q. 가장 승객이 많은 날짜는?

In [ ]:
# pivot_table을 이용해 사용일자/요일별 승차승객수 합계 데이터 정리